#title{
  text-align: center;
}

#mainMovie{
  margin-left: 100px;
}
#showMovie{
  display: flex;

  >img:nth-child(1){
    margin-right: 100px;
  }
  #description{
    >div{
      display: flex;
    }
  }


}

#button{
  margin-top: 2em;
  display: flex;
  justify-content: center;
}
button{  text-align: center;
  padding: 0 5em 0 5em;
}

.left{
  width: 5em;
}

.separator{
  margin-top: 1em;
}

@media(max-width:1170px){
  #mainMovie{
    margin-left: 0;
  }
  #showMovie{
    display: flex;

    >img:nth-child(1){
      margin-right: 50px;
      width: 200px;
    }
    #description{
      >div{
        display: flex;
      }
    }


  }


}


@media(max-width:970px){
  #mainMovie{
    margin-left: 1em;
  }
  #showMovie{
    display: flex;

    >img:nth-child(1){
      margin-right: 50px;
      width: 200px;
    }
    #description{
      >div{
        display: flex;
      }
    }


  }


}
